In [1]:
import pandas as pd
import numpy as np

In [2]:
handles = pd.read_csv("../../data/raw/handles.csv")
voting = pd.read_csv("../../data/voting_data.csv")
edges = pd.read_csv("../../data/edges.csv")

In [3]:
mapper = dict(zip(voting["Decision"].unique(), range(len(voting["Decision"].unique()))))
voting["Decision"] = voting["Decision"].apply(lambda x : mapper[x])

In [4]:
voting_features = pd.pivot_table(voting, values='Decision', index='Senator Name', columns="Bill", aggfunc=np.sum)

In [5]:
party_to_num = dict(zip(handles["Party"].unique(), range(len(handles["Party"].unique()))))
name_to_party = dict(zip(handles["Name"], handles["Party"].apply(lambda x : party_to_num[x])))
voting_features[79] = voting_features.index.to_series().apply(lambda x: name_to_party[x])
voting_features

Bill,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
Senator Name,,,,,,,,,,,,,,,,,,,,,
AK Dan Sullivan,0,0,0,0,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
AK Lisa Murkowski,0,0,0,0,2,2,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
AL Doug Jones,0,0,0,0,0,0,0,2,0,0,...,0,2,2,2,2,2,2,2,2,1
AL Richard C. Shelby,0,0,0,0,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
AR John Boozman,0,0,0,0,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WI Tammy Baldwin,0,0,0,0,0,0,0,0,2,2,...,2,2,2,2,2,2,2,2,2,1
WV Joe Manchin III,0,0,0,0,0,0,0,2,0,2,...,0,2,2,2,2,2,2,2,2,1
WV Shelley Moore Capito,0,0,0,0,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
WY John Barrasso,0,0,0,0,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
WY Michael B. Enzi,2,2,2,0,2,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
voting_features.to_csv("../../data/voting_features.csv")

In [12]:
new = pd.read_csv("../../data/voting_data_115.csv")

In [13]:
new

      Unnamed: 0                  0    1
0              0   Alexander (R-TN)  Yea
1              1     Baldwin (D-WI)  Yea
2              2    Barrasso (R-WY)  Yea
3              3      Bennet (D-CO)  Yea
4              4  Blumenthal (D-CT)  Yea
...          ...                ...  ...
3895        2795      Warren (D-MA)  Nay
3896        2796  Whitehouse (D-RI)  Yea
3897        2797      Wicker (R-MS)  Yea
3898        2798       Wyden (D-OR)  Nay
3899        2799       Young (R-IN)  Yea

[3900 rows x 3 columns]

In [14]:
new = new.rename(columns = {"0": "Senator Name", "1": "Decision"})

In [15]:
new = new.drop(["Unnamed: 0"], axis = 1)

In [17]:
def decision(x):
    if x == "Yea":
        return 0
    elif x == "Nay":
        return 1
    else:
        return 2
new["Decision"] = new["Decision"].apply(lambda x: decision(x))

In [28]:
new = new.reset_index()
new

      index       Senator Name  Decision
0         0   Alexander (R-TN)         0
1         1     Baldwin (D-WI)         0
2         2    Barrasso (R-WY)         0
3         3      Bennet (D-CO)         0
4         4  Blumenthal (D-CT)         0
...     ...                ...       ...
3895   3895      Warren (D-MA)         1
3896   3896  Whitehouse (D-RI)         0
3897   3897      Wicker (R-MS)         0
3898   3898       Wyden (D-OR)         1
3899   3899       Young (R-IN)         0

[3900 rows x 3 columns]

In [29]:
new["Bill"] = new["index"] // 100
new

      index       Senator Name  Decision  Bill
0         0   Alexander (R-TN)         0     0
1         1     Baldwin (D-WI)         0     0
2         2    Barrasso (R-WY)         0     0
3         3      Bennet (D-CO)         0     0
4         4  Blumenthal (D-CT)         0     0
...     ...                ...       ...   ...
3895   3895      Warren (D-MA)         1    38
3896   3896  Whitehouse (D-RI)         0    38
3897   3897      Wicker (R-MS)         0    38
3898   3898       Wyden (D-OR)         1    38
3899   3899       Young (R-IN)         0    38

[3900 rows x 4 columns]

In [30]:
new = new.drop(["index"],axis = 1)

In [32]:
new.to_csv("voting_115th.csv")

In [29]:
def name(x):
    if x == "Alexander (R-TN)":
        return "TN Lamar Alexander"
    elif x == "Baldwin (D-WI)":
        return 'WI Tammy Baldwin'
new["Senator Name"] = new["Senator Name"].apply(lambda x: name(x))

In [27]:
voting.reset_index()

      index           Senator Name Decision  Bill
0         0     TN Lamar Alexander      Yea     0
1         1       WI Tammy Baldwin      Yea     0
2         2       WY John Barrasso      Yea     0
3         3   CO Michael F. Bennet      Yea     0
4         4    TN Marsha Blackburn      Yea     0
...     ...                    ...      ...   ...
7895   7895    MA Elizabeth Warren      Nay    78
7896   7896  RI Sheldon Whitehouse      Nay    78
7897   7897     MS Roger F. Wicker      Yea    78
7898   7898           OR Ron Wyden      Nay    78
7899   7899          IN Todd Young      Yea    78

[7900 rows x 4 columns]

In [39]:
voting_115 = pd.read_csv("../../data/voting_115th.csv")
voting_115 = voting_115.drop(["Unnamed: 0"], axis = 1)

In [41]:
voting_features = pd.pivot_table(voting_115, values='Decision', index='Senator Name', columns="Bill", aggfunc=np.sum)

In [50]:
label = [i[-5] for i in voting_features.index]
label = [1 if i == "R" else 0 for i in label]

In [51]:
voting_features[39] = label

In [53]:
voting_features.to_csv("voting_feature_115th.csv")

In [8]:
new = pd.read_csv("../../data/voting_feature_115th_final.csv")

In [12]:
new["Senator Name"]

0       Alexander (R-TN)
1         Baldwin (D-WI)
2        Barrasso (R-WY)
3          Bennet (D-CO)
4      Blumenthal (D-CT)
             ...
100        Warren (D-MA)
101    Whitehouse (D-RI)
102        Wicker (R-MS)
103         Wyden (D-OR)
104         Young (R-IN)
Name: Senator Name, Length: 105, dtype: object